html {
  height: 100%;
}

body {
  /* padding: 10px; */
  height: 100%;
  display: flex;
  font-size: 16px;
  overflow: hidden;
}

button:focus {
  outline: none;
}

a {
  color: black
}

a:visited {
  color: black;
}

.bold {
  font-weight: bold;
}

.alice {
  font-family: 'Hammersmith One', serif;
}

#path-container::-webkit-scrollbar {
  width: 10px;
}

#path-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
  width: 10px;
}

#path-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border: 2px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}

#path-container::-webkit-scrollbar-button {
  height: 0px
}

#final-path::-webkit-scrollbar {
  height: 15px;
}

#final-path::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

#final-path::-webkit-scrollbar-track {
  background-color: transparent;
}

#final-path::-webkit-scrollbar-button {
  width: 2px
}