#degree {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  min-height: calc(100vh - 200px);
  z-index: 0;
}

svg {
  width: 100%;
}

line {
  stroke: rgb(230, 230, 230);
  /* color: #98ff98; */
  /* z-index: 1; */
  /* background-color: #f5f; */
}

image {
  z-index: 2;
  /* width: 60;
  height: 100;
  background-size: cover;
  background-position: 50%; */
}

image:hover {
  cursor: pointer;
}

.node text {
  fill: rgb(122, 122, 122);
  font-size: 12;
}