#degree {
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% - 320px);
  height: 100%;
  z-index: 0;
}

svg {
  width: 100%;
  height: 100%;
  cursor: move;
}

line {
  stroke: rgb(230, 230, 230);
  /* color: #98ff98; */
  /* z-index: 1; */
  /* background-color: #f5f; */
}

.node {
  -webkit-filter: drop-shadow( 3px 3px 20px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 20px rgba(0, 0, 0, .7));
}

.nodeimage {
  z-index: 2;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  /* width: 60;
  height: 100;
  background-size: cover;
  background-position: 50%; */
}

.nodeimage:hover {
  cursor: pointer;
}

.c.nodeimage:hover {
  cursor: default;
}

.nodetext {
  fill: rgb(100, 100, 100);
  font-size: 12;
  font-weight: bold;
}

.tooltip {
  z-index: 10;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: 180px;
  padding: 2px 5px;
  font: 14px sans-serif;
  font-weight: 600;
  background: rgb(174, 204, 243);
  border-radius: 2px;
  pointer-events: none;
  text-overflow: clip;
}