#filter-center {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  /* min-height: 150px; */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  background-color: rgb(235, 235, 235);
  border-radius: 0 0 0 10px;
  -webkit-box-shadow: 4px -4px 6px 9px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px -4px 6px 9px rgba(0,0,0,0.35);
  box-shadow: 4px -4px 6px 9px rgba(0,0,0,0.35);
}

#filter-center hr {
  width: 100%;
  color: rgb(150, 150, 150);
  margin: 8px 0;
}

.filter-text {
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
}

#filter-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

#filter-input {
  max-width: 80%;
  margin: 0 8px 0 0;
}

#filter-nodes {
  background-color: green;
  border-radius: 4px;
}

.filter-button:hover {
  cursor: pointer;
}

#filter-notifier {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0;
  background-color: rgba(230, 0, 0, 0.8);
  border-radius: 3px;
  padding: 5px 8px;
}

#filter-notifier.inactive {
  display: none;
}

#filter-notifier-text {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

#reset-filter {
  background-color: white;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.reset-btn-filter {
  width: 100%;
  height: 100%;
  padding: 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.reset-btn-filter:hover {
  background-color: rgba(0, 0, 0, .15);
}

.filter-btn-filter {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.filter-btn-filter:hover {
  background-color: rgba(0, 0, 0, .15);
}