#hint-corner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 235px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 0 0 0;
  -webkit-box-shadow: 4px 4px 6px 9px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 6px 9px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 6px 9px rgba(0,0,0,0.35);
}

#hint-corner hr {
  width: 100%;
  color: rgb(150, 150, 150);
  margin: 8px 0;
}

#hint-suggestion, #hint-display, #hint-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint-text {
  text-align: center;
  margin-bottom: 8px;
  font-size: 15px;
}

.hint-button {
  border-radius: 4px;
  background-color: green;
}

.hint-filter {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}

.hint-filter:hover {
  background-color: rgba(0, 0, 0, .15);
  cursor: pointer;
}

#hint-suggestion.inactive, #hint-display.inactive {
  display: none;
}

#hint-name {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#hint-pic {
  height: 180px;
  margin: 10px 0;
}

#hint-count {
  font-size: 18px;
}

#hint-counter {
  font-weight: bold;
}

#recenter-text {
  margin: 0 6px;
  font-weight: bold;
  color: white;
}

#hint-error {
  width: 100%;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(230, 0, 0, 0.8);
  padding: 5px 0;
  border-radius: 4px;
  color: white;
  text-align: center;
}