.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  background: rgba(0, 0, 0, 0.65);
  z-index: 100;
  overflow: auto;
}

.modal-child {
  /* position: absolute; */
  /* top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.inactive {
  display: none;
}

.modal-text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#abandon-child {
  min-width: 400px;
  height: fit-content;
  margin-top: calc(25vh);
}

#abandon-text {
  margin-bottom: 30px;
}

#abandon-child .options-button {
  margin-top: 20px;
}
























#nest1 {
  /* display: block; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  height: 75px;
  width: 75px;
  /* margin: -25px 0 0 -25px; */
  border: 2px solid transparent;
  border-top-color: #000000;
  border-radius: 50%;
  -webkit-animation: spin7 2s ease infinite;
          animation: spin7 2s ease infinite;
}

#nest1:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000000;
  -webkit-animation: spin7 4s linear infinite;
          animation: spin7 4s linear infinite;
}

#nest1:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000000;
  -webkit-animation: spin7 2s ease infinite;
          animation: spin7 2s ease infinite;
}

@-webkit-keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}