#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 300px;
  padding: 5px 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, .05);
}

#sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

#title-text {
  font-size: 36px;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#links img {
  width: 24px;
  opacity: .6;
  box-sizing: border-box;
  margin: 0;
}

#links a {
  margin: 0;
  width: 100%;
  /* height: 100%; */
}

#info-text a {
  margin: 0;
}

#links img:hover {
  opacity: 0.85;
  cursor: pointer;
}

#info-icon img {
  margin: 0 5px;
}

#info-icon img:hover {
  cursor: initial;
}

#info {
  position: relative;
}

#info:hover #info-text {
  display: block
}

#info-text {
  width: 350px;
  position: absolute;
  right: 0;
  top: 28px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
  z-index: 5;
  display: none;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.5em;
  box-sizing: border-box;
}