nav {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 5px 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, .05);
}

#title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
}

#title-text {
  font-size: 36px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

#form div {
  display: flex;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  margin: 0 10px;
  font-size: 16px;
  width: 200px;
  padding: 4px 6px;
  border: none;
  /* border: 2px solid rgba(0, 0, 0, 0); */
  border-radius: 3px;
}

input:focus {
  outline: none;
  /* border: 2px solid rgba(0, 195, 255, 0.89); */
}

#inputs {
  display: flex;
  align-items: center;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-time {
  font-size: 18px;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 5px;
}

.go-time:hover {
  cursor: pointer;
}

.go-time:focus {
  outline: none;
}

#randomize {
  font-size: 14px;
  font-weight: bold;
  background-color: yellow;
  border: none;
  border-radius: 5px;
}

#randomize:hover {
  cursor: pointer;
}

#randomize:focus {
  outline: none;
}

.btn-filter {
  width: 100%;
  height: 100%;
  padding: 5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.btn-filter:hover {
  background-color: rgba(0, 0, 0, .15);
}

#links {
  display: flex;
  align-items: center;
}

#links img {
  width: 28px;
  opacity: .6;
  box-sizing: border-box;
  margin: 0;
}

#links a {
  margin: 0 5px;
  width: 100%;
  height: 100%;
}

#info-text a {
  margin: 0;
}

#links img:hover {
  opacity: 0.85;
  cursor: pointer;
}

#info-icon img {
  margin: 0 5px;
}

#info-icon img:hover {
  cursor: initial;
}

#info {
  position: relative;
}

#info:hover #info-text {
  display: block
}

#info-text {
  width: 350px;
  position: absolute;
  right: 0;
  top: 28px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
  z-index: 5;
  display: none;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.5em;
  box-sizing: border-box;
}

#start-input, #end-input {
  position: relative;
}

.input-dropdown {
  background-color: rgb(230, 230, 230);
  position: absolute;
  top: 30px;
  left: 15px;
  width: 300px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
}

.list-item.inactive {
  background-color: rgba(255, 255, 255, .2);
  color: rgb(156, 0, 0);
  font-weight: bold;
}

.list-item {
  padding: 5px;
  font-size: 18px;
  width: 100%;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.list-item.inactive:hover {
  background-color: rgba(255, 255, 255, .2);
  cursor: initial;
}