#path-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, 
  rgba(0, 0, 0, .00),
  rgba(255, 0, 0, 0.1),
  rgba(255, 166, 0, 0.1),
  rgba(255, 255, 0, 0.1),
  rgba(0, 128, 0, 0.1),
  rgba(0, 0, 255, 0.1),
  rgba(76, 0, 130, 0.1),
  rgba(238, 130, 238, 0.1),
  rgba(0, 0, 0, .00));
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

#steps {
  display: flex;
  flex-direction: column;
}

.actor-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

#last-step {
  display: flex;
  flex-direction: column;
}

#last-step.inactive {
  display: none;
}

.movie-step {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
}

.arrow {
  align-self: center;
  width: 35px;
  height: 40px;
  margin: -40px 0;
  margin-left: 17px;
  opacity: 0.7;
}

.actor-pic {
  width: 110px;
  min-height: 140px;
  border-radius: 3px;
  margin: 5px 0;
}

.movie-pic {
  width: 80px;
  min-height: 100px;
  border-radius: 3px;
  margin-bottom: 4px;
}

.actor-name {
  width: 130px;
  min-height: 20px;
  text-align: center;
  font-weight: bold;
}

.movie-name {
  width: 110px;
  min-height: 20px;
  font-size: 14px;
  text-align: center;
}