#path-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, 
  rgba(0, 0, 0, .00),
  rgba(255, 0, 0, 0.1),
  rgba(255, 166, 0, 0.1),
  rgba(255, 255, 0, 0.1),
  rgba(0, 128, 0, 0.1),
  rgba(0, 0, 255, 0.1),
  rgba(76, 0, 130, 0.1),
  rgba(238, 130, 238, 0.1),
  rgba(0, 0, 0, .00));
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#steps {
  /* min-height: 100%; */
}

.actor-name {
  height: 30px;
}