#sidebar {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 320px;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, .05);
  -webkit-box-shadow: -5px 0px 10px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 0px 10px 8px rgba(0,0,0,0.5);
  box-shadow: -5px 0px 10px 8px rgba(0,0,0,0.5);
  z-index: 3;
}

#path-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, 
  rgba(255, 0, 0, 0.1),
  rgba(255, 166, 0, 0.1),
  rgba(255, 255, 0, 0.1),
  rgba(0, 128, 0, 0.1),
  rgba(0, 0, 255, 0.1),
  rgba(76, 0, 130, 0.1),
  rgba(238, 130, 238, 0.1)
  );
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 6px;
}

#steps {
  display: flex;
  flex-direction: column;
}

.actor-step, .actor-step-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.actor-step.last-actor-step {
  align-self: center;
}

#last-step {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#last-step.inactive {
  display: none;
}

.movie-step {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
}

.arrow {
  align-self: center;
  width: 70px;
  height: 40px;
  margin: -45px 0;
  margin-left: 22px;
}

.left-arrow {
  transform: rotate(-25deg)
}

.right-arrow {
  transform: rotate(25deg)
}

.actor-pic {
  width: 110px;
  min-height: 140px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.movie-pic {
  width: 80px;
  min-height: 100px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.actor-name {
  margin: 5px 0;
  width: 130px;
  min-height: 18px;
  text-align: center;
  font-weight: bold;
}

.movie-name {
  margin-bottom: 4px;
  width: 110px;
  min-height: 16px;
  font-size: 14px;
  text-align: center;
}

#film-strip {
  width: 90%;
  opacity: 0.7;
  /* height: 30px; */
  margin: 10px auto;
  /* transform: scaleX(-1) */
}

.degree-text, .f-degree-text {
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
  width: fit-content;
}