#site-heading {
  padding: 0 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 6;
  background-color: rgb(235, 235, 235);
  border-radius: 0 0 10px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.35), 4px -183px 6px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.35), 4px -183px 6px 0px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.35), 4px -183px 6px 0px rgba(0,0,0,0.35);
}

#heading-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  padding: 10px 0 5px;
}

#site-heading hr {
  width: 100%;
  color: rgb(150, 150, 150);
  margin: 8px 0 6px;
}

#site-heading hr.smoller {
  width: 30%;
  color: rgb(175, 175, 175);
  margin: 4px 0 3px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

#title-text {
  font-size: 36px;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 3px;
}

#links img {
  width: 24px;
  height: 24px;
  opacity: .6;
  box-sizing: border-box;
  margin: 0;
}

#links a {
  margin: 0;
  width: 100%;
  /* height: 100%; */
}

#info-text a {
  margin: 0;
}

#links img:hover {
  opacity: 0.85;
  cursor: pointer;
}

#info-icon img {
  margin: 0 5px;
}

#info-icon img:hover {
  cursor: initial;
}

#info {
  position: relative;
}

#info:hover #info-text {
  display: block
}

#info-text {
  width: 350px;
  position: absolute;
  right: 0;
  top: 28px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
  z-index: 5;
  display: none;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.5em;
  box-sizing: border-box;
}

.options-button .game-options-text {
  align-self: flex-end;
}

#new-game {
  background-color: orangered;
}

#go-back {
  background-color: #ffb206;
}