#start-modal-child {
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  /* height: 100%; */
  /* max-height: 750px; */
  /* min-height: 500px; */
  margin: 40px 15px;
  overflow: auto;
  overflow-x: hidden;
}

#start-heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
  /* margin-bottom: 10px; */
  width: 100%;
}

#start-heading-text {
  margin: 0 20px 10px;
  text-align: center;
}

#start-heading img {
  width: 120px;
  max-width: 20%;
  margin: 0;
}

#start-heading>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10px; */
}

#byline {
  font-size: 14px;
  text-align: center;
}

#game-rules {
  margin: 10px 40px;
  text-align: center;
  line-height: 1.2em;
}

#tagline {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

.rules {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  justify-content: space-between;
}

#form div {
  display: flex;
  box-sizing: border-box;
}

.bacon img {
  width: 25px;
  margin: 0;
}

.bacon-filter {
  width: 40px;
  height: 100%;
  padding: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.bacon-filter:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.which-actor {
  font-weight: bold;
  font-size: 20px;
}

input {
  box-sizing: border-box;
  margin: 10px;
  font-size: 16px;
  width: 210px;
  padding: 4px 6px;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 2px solid rgba(1, 174, 226, 0.89);
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input-chunk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.path-icon {
  width: 100px;
  height: 80px;
  margin: 0 -30px;
}

.flip {
  transform: scaleY(-1);
}

.input-buttons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.input-pic-frame {
  height: 150px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-bottom: 10px;
}

.input-pic {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.correct {
  border: 3px solid rgb(80, 179, 0);
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-time {
  font-size: 22px;
  font-weight: bold;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  /* align-self: flex-end; */
}

.go-time:hover {
  cursor: pointer;
}

.go-time:focus {
  outline: none;
}

.randomize img {
  width: 20px;
  opacity: .6;
  box-sizing: border-box;
  margin: 0;
}

.randomize-filter {
  width: 40px;
  padding: 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.randomize-filter:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.btn-filter {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.btn-filter:hover {
  background-color: rgba(0, 0, 0, .15);
}

#start-input, #end-input {
  position: relative;
  display: flex;
  align-items: center;
}

.input-dropdown {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  left: 15px;
  width: 270px;
  border-radius: 2px;
  /* border: 1px solid rgb(50, 50, 50); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
}

.list-item.no-matches {
  background-color: rgba(255, 255, 255, .2);
  color: rgb(156, 0, 0);
  font-weight: bold;
}

.list-item {
  border-radius: 2px;
  padding: 4px;
  font-size: 16px;
  width: 100%;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.list-item.no-matches:hover {
  background-color: rgba(255, 255, 255, .2);
  cursor: initial;
}