#victory-modal-child {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  /* height: 100%; */
  /* max-height: 750px; */
  /* min-height: 500px; */
  margin: 40px 15px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 20px;
}

#victory-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 20px;
  /* height: fit-content; */
}

#victory-heading img {
  width: 200px;
  /* height: 200px; */
  max-width: 20%;
  border-radius: 25%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

#victory-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#victory-title {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 25px;
}

#victory-tag {
  font-style: italic;
}

.recap {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 1.8em;
}

.larger {
  font-size: 26px;
}

.smol-recap {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

#path-chunk {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#check-it-out {
  margin-left: 30px;
}

#path-ele {
  width: 100%;
  height: 230px;
  margin: 10px 0 25px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, 
  rgba(255, 0, 0, 0.1),
  rgba(255, 166, 0, 0.1),
  rgba(255, 255, 0, 0.1),
  rgba(0, 128, 0, 0.1),
  rgba(0, 0, 255, 0.1),
  rgba(76, 0, 130, 0.1),
  rgba(238, 130, 238, 0.1)
  );
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

#final-path {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.f-actor-step, .f-movie-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-degree-text {
  width: 100%;
  text-align: center;
}

.f-actor-pic {
  margin: 5px 0;
  height: 150px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.f-actor-name {
  width: 170px;
  text-align: center;
  font-weight: bold;
}

.f-movie-pic {
  margin: 5px 0;
  height: 120px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.f-movie-name {
  width: 160px;
  font-size: 14px;
  text-align: center;
}

.f-arrow {
  margin: 0 -20px;
  width: 80px;
  min-width: 80px;
}

.up-arrow {
  transform: rotate(-10deg)
}

.down-arrow {
  transform: rotate(10deg)
}

.f-arrow img {
  width: 100%;
}


#victory-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 350px; */
  max-width: 75%;
}

.victory-button {
  background-color: green;
  border-radius: 4px;
  margin: 0 20px 20px;
}

.victory-button-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 10px 14px;
}

.victory-button-filter:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.15)
}

#victory-restart, #victory-new-game {
  font-size: 20px;
}

.final-degree-count {
  background-color: purple;
  color: white;
  border-radius: 3px;
  padding: 2px 6px;
  width: fit-content;
}

/* .rainbow-background {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-image: linear-gradient(to left, 
  rgba(255, 0, 0, 0.8),
  rgba(255, 166, 0, 0.8),
  rgba(255, 255, 0, 0.8),
  rgba(0, 128, 0, 0.8),
  rgba(0, 0, 255, 0.8),
  rgba(76, 0, 130, 0.8),
  rgba(238, 130, 238, 0.8)
  );
} */